@import "mixins.scss";
@import "reset.scss";
@import "header.scss";
@include font-face ("OpenSans", "../fonts/OpenSans"); // FontFace Mixin

body {
  font-family: "OpenSans";
  color: #797979;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.body {
  background-image: url(../img/wallp.jpg);
  min-height: 100vh;
}
